In [1]:
from odp.client import Client

In [2]:
client = Client()

In [108]:
dataset = client.dataset("2d2efb1f-921e-4ddd-93f6-7d6c5b333a61")

## File listing

### list()

In [118]:
# List all files
files = dataset.files.list()
print(files)

[{'id': '7c9e93be-8a3', 'name': 'niklas super duper dataset 2', 'created': '2025-10-09T12:38:21.723000+00:00', 'updated': '2025-10-09T12:38:21.723000+00:00', 'size': 34163, 'format': 'csv', 'mimetype': 'text/csv', 'geometry': None, 'properties': [['value', '2000']]}, {'id': '10a6f4e0-e8e', 'name': 'ocean_ecology.geojson', 'created': '2025-10-09T13:25:47.703000+00:00', 'updated': '2025-10-09T13:25:47.703000+00:00', 'size': 3268, 'format': '', 'mimetype': 'application/geo+json', 'geometry': None, 'properties': None}]

In [114]:
file_id = files[0]['id']
print(file_id)

7c9e93be-8a3

In [112]:
# List files with query filter 
large_files = dataset.files.list(
    query="size > $min_size",
    vars={"min_size": 20000000}  # Files > 20MB
)
print(len(large_files)) # number of files larger than 20MB

0

## list_batches()

## upload()

In [68]:
# Upload to Dataset a CSV from file
with open("ocean_climate_dataset.csv", "rb") as f:
    file_id = dataset.files.upload("ocean_climate_dataset_2.csv", f)

## update_meta()

In [115]:
# Update file metadata
custom_meta = {
    "value" : 2000
}

dataset.files.update_meta(
    file_id,
    {
        "name" : "niklas super duper dataset 2",
        "properties" : custom_meta
    }
)

{'id': '7c9e93be-8a3',
 'name': 'niklas super duper dataset 2',
 'created': '2025-10-09T12:38:21.723000+00:00',
 'updated': '2025-10-09T12:38:21.723000+00:00',
 'size': 34163,
 'format': 'csv',
 'mimetype': 'text/csv',
 'geometry': None,
 'properties': {'value': '2000'}}

## download()

In [71]:
with open("downloaded_dataset.csv", "wb") as f:
    for chunk in dataset.files.download(file_id):
        f.write(chunk)

## delete()

In [21]:
file_id = str(files[0]['id'])
print(file_id)

4c65d5db-0dd

In [22]:
dataset.files.delete(id = file_id)

## ingest()

Ingest uploaded files into a Table. Currently we support the following formats: CSV and Parquet/GeoParquet. The ingest creates a table woth the same squema as the file. If the table already exists and the schema is the same (name, type), the data from the file is appended as default.

In [123]:
dataset.files.ingest(file_id)

In [124]:
df = dataset.table.select().all().dataframe()
df.head()

,Date,Location,Latitude,Longitude,SST (°C),pH Level,Bleaching Severity,Species Observed,Marine Heatwave
0,2015-01-01,Red Sea,20.0248,38.4931,29.47,8.107,None,106,False
1,2015-01-07,Great Barrier Reef,-18.2988,147.7782,29.65,8.004,High,116,False
2,2015-01-14,Caribbean Sea,14.9768,-75.0233,28.86,7.947,High,90,False
3,2015-01-20,Great Barrier Reef,-18.3152,147.6486,28.97,7.995,Medium,94,False
4,2015-01-27,Galápagos,-0.8805,-90.9769,28.60,7.977,None,110,False